a {
  text-decoration: none;
}
a:link {
  color: wheat;
  text-decoration: none;
}

body {
  color: wheat;
  background-image: url("1.jpg");
  padding: 50px 10px;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
